{% extends 'base.html' %}
{% load static %}
{% block navbar %}
<section class="navbar">
<a href="{% url 'home' %}" class="btn"> Home </a>
<a href="{% url 'trainer-list' %}" class="btn"> Trainer </a>
<a href="{% url 'pokemoncard' %}" class="btn" id="active"> Pokemon Card </a>
<a href="{% url 'collection-list' %}" class="btn"> Collection </a>
</section>
{% endblock navbar %}
{% block content %}
<div class="card-body ">
<form method="post">
{% csrf_token %}
<div class="form-row ">
<p>Are you sure you want to delete "{{ object }}"?</p>
{% include 'includes/forms.html' %}
</div>
<input class="col-md-4 btn btn-primary" type="submit" value="Confirm">
</form>
</div>
{% endblock %}