{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <title>Pokemon | Trainers</title>
  </head>
  <body>
    <!--NAVBAR-->
    <section class="navbar">
      <a href="home.html" class="btn"> Home </a>
      <a href="trainer.html" class="btn" id="active"> Trainer </a>
      <a href="pokemon-card.html" class="btn"> Pokemon Card </a>
      <a href="collection.html" class="btn"> Collection </a>
    </section>

    <!--TRAINERS-->
    <main>
    {% block content %}
    <section class="trainers-container">
      <table class="styled-table">
        <tbody>
          <tr>
            <th>Trainer Name</th>
            <th>Birthdate</th>
            <th>Location</th>
            <th>Email</th>
            <th>Actions</th>
            </tr>
    
            {% for object in object_list %}
            <tr>
                <td>{{ object.name }}</td>
                <td>{{ object.birthdate }}</td>
                <td>{{ object.location }}</td>
                <td>{{ object.email }}</td>
                <td>
                    <a href="trainer_list/{{ object.id }}" >Edit</a> |
                    <a href="trainer_list/{{ object.id }}/delete" >Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </section>
    <div>
      {% include 'includes/pagination.html' %}
      </div>
    {% endblock %}
  </main>
    <footer>
      <br />
      <br />
      <p>
        POKEMON<br />
        Gotta Catch 'Em All
      </p>
      <br>
      <div class="social-icons">
        <a href="https://github.com/developer" target="_blank" class="icon-link">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://facebook.com/yourpage" target="_blank" class="icon-link">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://instagram.com/youraccount" target="_blank" class="icon-link">
          <i class="fab fa-instagram"></i>
        </a>
        <!-- Add other social media icons similarly -->
      </div>
      <p>
        &copy; 2023 YourWebsiteName. All Rights Reserved.
      </p>
  </footer>
  </body>
</html>
