<footer>
  <br />
  <br />
  <p>
    POKEMON<br />
    Gotta Catch 'Em All
  </p>
  <br>
  <div class="social-icons">
    <a href="https://github.com/JovTim" target="_blank" class="icon-link">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://facebook.com/jovan.timosa.3" target="_blank" class="icon-link">
      <i class="fab fa-facebook"></i>
    </a>
    <!-- Add other social media icons similarly -->
  </div>
  <p>
    &copy; 2023 YourWebsiteName. All Rights Reserved.
  </p>
</footer>